.score-board {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 5vh;
  }

  &__yaku {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5vh;
    font-size: 1.8vh;

    &__item {
      display: flex;
      justify-content: space-between;
      min-width: 20vh;
      padding: 0 20px;

      &__key {
        margin-right: 20px;
      }
    }
  }

  &__score-field {
    position: relative;
    height: 31vh;
    margin: 2vh 5vh;
    font-size: 3vh;

    &__scores {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: absolute;
      width: 35%;
      height: 10vh;
      padding: 0 20px;
      margin: auto;

      &--0 {
        right: 0;
        bottom: 0;
        left: 0;
      }

      &--1 {
        top: 0;
        right: 0;
        bottom: 0;
      }

      &--2 {
        top: 0;
        right: 0;
        left: 0;
      }

      &--3 {
        top: 0;
        bottom: 0;
        left: 0;
      }

      &__playername {
        display: flex;
        align-items: center;
        justify-content: center;
        word-break: break-all;
        width: 100%;

        .Hougaku {
          margin-right: 10px;
        }
      }

      &__score {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
      }

      &__diff {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        &--pos {
          color: #f55;
        }

        &--neg {
          color: #55f;
        }
      }
    }
  }

  &__dora-field {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    font-size: 2vh;

    &__dora,
    &__uradora {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
}
