version: '3'
services:
  app:
    build: ./app
    container_name: app
    ports:
      - '8080:8080'
    tty: true
    volumes:
      - ./app:/app
  db:
    image: mongo:5.0.2
    env_file: ./.env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
