.ClientView__Hai{
    display:inline-block;
    padding: 5vh 0 0;

    &--float{
        vertical-align:5vh;
        padding: 0 0 5vh;
        
    }
    &--tsumo{
        margin: 0 0 0 2vw;
        
    }

}
.ClientView{
    &__hougaku{
        position:absolute;
        top:5vh;
        left:5vh;
    }
    &__buttons{
        position:absolute;
        top:5vh;
        right:5vh;
        width:50vw;
        display:flex;
        flex-flow:row-reverse;
    }
    &__Action{
        margin:1vw;
    }
    &__hai_container{
        position:absolute;
        bottom:20vh;
        left:50vw;
        transform:translate(-50%,0);
        display:flex;
    }
}
.dummy{
    width:6.5vw;
}