@use "../../../../variable";

.center-field {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: variable.$center-field-height;
  height: variable.$center-field-height;
  background-color: #fff;
  margin: auto;
  border-radius: 1vh;
  box-shadow: 2px 2px 4px -2px gray inset;

  &__contents {
    &__tsumo-button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 10vh;
      height: 10vh;
      background-color: #ccc;
      margin: auto;
    }

    &__playernames {
      $long-side: 18vh;
      $short-side: 2vh;

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 2vh;
      margin: auto;

      &--up {
        width: $long-side;
        height: $short-side;
        right: 0;
        left: 0;
        bottom: calc(5vh + 12px);
      }

      &--left {
        width: $short-side;
        height: $long-side;
        top: 0;
        right: calc(5vh + 12px);
        bottom: 0;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }

      &--down {
        width: $long-side;
        height: $short-side;
        transform: rotate(180deg);
        top: calc(5vh + 12px);
        right: 0;
        left: 0;
      }

      &--right {
        width: $short-side;
        height: $long-side;
        top: 0;
        bottom: 0;
        left: calc(5vh + 12px);
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    &__score {
      $long-side: 18vh;
      $short-side: 5vh;

      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 3vh;
      background-color: #ccc;
      margin: auto;
      border-radius: 1vh;

      &--up {
        width: $long-side;
        height: $short-side;
        right: 0;
        left: 0;
        bottom: 5px;
      }

      &--left {
        width: $short-side;
        height: $long-side;
        top: 0;
        right: 5px;
        bottom: 0;

        span {
          transform: rotate(180deg);
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }

      &--down {
        width: $long-side;
        height: $short-side;
        transform: rotate(180deg);
        top: 5px;
        right: 0;
        left: 0;
      }

      &--right {
        width: $short-side;
        height: $long-side;
        top: 0;
        bottom: 0;
        left: 5px;

        span {
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }
    }

    &__kaze {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &--up {
        left: 5px;
        bottom: 5px;
      }

      &--left {
        right: 5px;
        bottom: 5px;
      }

      &--down {
        top: 5px;
        right: 5px;
      }

      &--right {
        top: 5px;
        left: 5px;
      }
    }
  }
}
