@use "../../../../variable";

$long-side: 66vh;
$short-side: 34vh;
$padding: 30px;
$hai-image-rato: calc(90 / 66);

.drop-field {
  display: flex;
  position: absolute;

  &--up {
    align-items: start;
    right: 0;
    bottom: 0;
    width: $long-side;
    height: $short-side;
    padding-top: $padding;

    &__kawa {
      display: flex;
      flex-wrap: wrap;
      width: variable.$center-field-height;

      &__sutehai-line {
        display: flex;
        align-items: flex-end;
        height: calc(variable.$center-field-height / 6 * $hai-image-rato);
      }
    }
  }

  &--down {
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: $long-side;
    height: $short-side;
    padding-bottom: $padding;

    &__kawa {
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column-reverse;
      width: variable.$center-field-height;

      &__sutehai-line {
        display: flex;
        flex-direction: row-reverse;
        height: calc(variable.$center-field-height / 6 * $hai-image-rato);
      }
    }
  }

  &--right {
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    width: $short-side;
    height: $long-side;
    padding-right: $padding;

    &__kawa {
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column;
      height: variable.$center-field-height;

      &__sutehai-line {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(variable.$center-field-height / 6 * $hai-image-rato);
      }
    }
  }

  &--left {
    align-items: flex-end;
    top: 0;
    right: 0;
    width: $short-side;
    height: $long-side;
    padding-left: $padding;

    &__kawa {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      height: variable.$center-field-height;

      &__sutehai-line {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: calc(variable.$center-field-height / 6 * $hai-image-rato);
      }
    }
  }
}
